// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//google fonts
// @import url(); qui devo inserire l'url che google fonts genera selezionando import anziché link
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.container {
    display: flex;
    width: calc((100vw / 3) * 2);
    margin: auto;
}

.debug {
    border: 1px solid navy;
}

li {
    list-style: none;
}