// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.container {
    display: flex;
    width: calc((100vw / 3) * 2);
    margin: auto;
}

.debug {
    border: 1px solid navy;
}

li {
    list-style: none;
}